@model AngelesPizza.Models.Product

@{
    ViewData["Title"] = "Editar Producto";
}

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Editar Producto</h2>

        <a asp-action="Index"
           class="btn btn-outline-secondary">

            <i class="bi bi-arrow-left"></i>
            Regresar

        </a>

    </div>

    <div class="card shadow-sm">

        <div class="card-header">
            <strong>Información General</strong>
        </div>

        <div class="card-body">

            <form asp-action="Edit" method="post" enctype="multipart/form-data">

                <input asp-for="Id" type="hidden" />

                <partial name="_Form" model="Model" />

                @if (Model.ImageData != null)
                {
                    <div class="mb-3">

                        <img src="@Url.Action("GetImage", "Product", new { id = Model.Id })"
                             class="img-fluid rounded mb-2"
                             style="max-height:120px;" />

                    </div>
                }

            </form>

        </div>

    </div>

</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />

}